# +----------------------------------------------------------------------------
# | Copyright (c) 2022 Pivotal Commware
# | All rights reserved.
# |
# | .envrc
# | Environment variables in VSCode development environment
# +----------------------------------------------------------------------------
PATH_add $(pwd)/bin
PATH_add $(pwd)/src/portal/node_modules/.bin

export AZURE_DEFAULTS_GROUP=ws-portal-staging #$(git rev-parse --abbrev-ref HEAD | sed "s/\//-/g")

branch=$(git rev-parse --abbrev-ref HEAD | sed "s/[^a-zA-Z0-9]//g")

export AZURE_SUBSCRIPTION=022f9a31-8566-4d3c-a2ef-5f0b8f3a6b95
export AZURE_DEFAULTS_LOCATION=westus2
export AZURE_DEFAULTS_GROUP=ws-portal-dev-${branch}

export WS_RUNNER_GROUP=ws-runner-staging

export ENVIRONMENT_TYPE=dev

export CHOKIDAR_USEPOLLING=true